.FlatContainer {
	background-color: wheat;
	text-align: left;
	border-radius: 5px;
	width:100%;
}

.FlatImage {
	width: 200px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.FlatInfo {

}